<!DOCTYPE html>
<html lang="fr">
<head>
    {{ partial "meta.html" . }}
    <title>{{ .Title }}</title>
    {{ partial "css.html" . }}
</head>
<body>
{{ partial "navbar.html" . }}

<h1>{{ with .Site.GetPage "section" "events" }}{{ .Title }}{{ end }}</h1>
<div class="menu">
    {{ .Content }}
    {{ range .Pages}}
    {{.Title}}
    {{- end }}
</div>

{{ partial "footer.html" . }}
{{ partial "sidebar.html" . }}

<!-- Back-to-top button -->
<div id="backtotop"><a href="#"></a></div>

{{ partial "javascript.html" . }}
</body>
</html>